@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
      --background: 0 0% 88%;
      --foreground: 220 14% 4%;
      --card: 0 0% 88%;
      --card-foreground: 220 14% 4%;
      --popover: 0 0% 88%;
      --popover-foreground: 220 14% 4%;
      --primary: 218 60% 52%;
      --primary-foreground: 0 0% 88%;
      --secondary: 251 61% 72%;
      --secondary-foreground: 220 14% 4%;
      --muted: 0 0% 20%;
      --muted-foreground: 220 14% 70%;
      --accent: 261 61% 61%;
      --accent-foreground: 220 14% 4%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 220 14% 4%;
      --border: 0 0% 20%;
      --input: 0 0% 20%;
      --ring: 261 61% 40%;
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 0 0% 12%;
      --foreground: 220 14% 96%;
      --card: 0 0% 12%;
      --card-foreground: 220 14% 96%;
      --popover: 0 0% 12%;
      --popover-foreground: 220 14% 96%;
      --primary: 218 60% 48%;
      --primary-foreground: 220 14% 96%;
      --secondary: 251 61% 28%;
      --secondary-foreground: 220 14% 96%;
      --muted: 0 0% 80%;
      --muted-foreground: 220 14% 96%;
      --accent: 261 61% 39%;
      --accent-foreground: 220 14% 96%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 223 14% 10%;
      --border: 0 0% 60%;
      --input: 0 0% 80%;
      --ring: 261 61% 60%;
    }
  }
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
