@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
      /* Main backgrounds */
      --background: 201, 52%, 70%; /* #D8C3A5 - main background */
      --card: 21, 52%, 70%;      /* #EAE7DC - card background */
      
      /* Text colors */
      --foreground: 3, 62%, 20%;    /* Darker version of #8E8D8A for main text */
      --muted-foreground: 30 1% 55%; /* #8E8D8A for secondary text */
      
      /* Accent colors */
      --primary: 290, 52%, 70%;     /* #E98074 - semi-accent */
      --destructive: 222 71% 61%; /* #E85A4F - attention/important */
      
      /* Supporting colors */
      --border: 30 1% 55%; /* #8E8D8A - borders */
      --ring: 6 65% 61%;        /* #E98074 - focus rings */
      
      /* Cards and other UI elements */
      --card-foreground: 220 1% 20%;
      --popover: 39 25% 89%;
      --popover-foreground: 220 1% 20%;
      --primary-foreground: 0 0% 98%;
      --secondary: 37 13% 91%;
      --secondary-foreground: 220 1% 20%;
      --green: 111, 52%, 70%;
      --muted: 37 13% 91%;
      --accent: 111, 52%, 70%;
      --accent-foreground: 220 1% 20%;
      --destructive-foreground: 0 0% 98%;
      --input: 37 13% 91%;
      
      --radius: 2rem;
      
      /* Switch card specific */
      --switch-card: 201, 52%, 70%;    /* #EAE7DC - same as background */
      --switch-card-selected: 6 65% 61%;  /* #E98074 - using accent color for selected state */
    }
   
    .dark {
      --background: 0 0% 12%;
      --foreground: 220 14% 96%;
      --card: 0 0% 12%;
      --card-foreground: 220 14% 96%;
      --popover: 0 0% 12%;
      --popover-foreground: 220 14% 96%;
      --primary: 218 60% 48%;
      --primary-foreground: 220 14% 96%;
      --secondary: 251 61% 28%;
      --secondary-foreground: 220 14% 96%;
      --muted: 0 0% 80%;
      --muted-foreground: 220 14% 96%;
      --accent: 261 61% 39%;
      --accent-foreground: 220 14% 96%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 223 14% 10%;
      --border: 0 0% 60%;
      --input: 0 0% 80%;
      --ring: 261 61% 60%;
      
      /* Switch card specific dark mode */
      --switch-card: 0 0% 15%;  /* Slightly lighter than dark background */
      --switch-card-selected: 261 61% 39%;  /* Using accent color from dark theme */
      
      --radius: 0.5rem;
    }
  }
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
